table {
//  border: 1px solid;
}
.table-head {
color: white;
  font-family: Calibri;
 width: 1000px; /* Ширина таблицы */
 /*border: 1px ;  Рамка вокруг таблицы */
 margin: auto; /* Выравниваем таблицу по центру окна  */
}

.table-menu {
  color: white;

  font-family: Calibri;
 width: 100%; /* Ширина таблицы */
 /*border: 1px solid green;  Рамка вокруг таблицы */
 margin: auto; /* Выравниваем таблицу по центру окна  */
}

a {
  text-decoration: none;
}

.table-photo {
  //width: 100%;
 /* Ширина таблицы */
 /*border: 1px solid green;  Рамка вокруг таблицы */
  margin: auto; /* Выравниваем таблицу по центру окна  */
}

.imgwork{
  width: 100%;
  height: 350px;
}

.text-cit{
  font-family: Calibri;
  text-align: center;
}

.text-link{
  color: #542dab;
  font-family: Calibri;
  text-align: center;
}

.document{
  text-align: center;
}


td {
 //border: 1px solid;
 //border: 1px solid;
   background: #326fd1;
  border-radius: 10px;
  border: 1px solid #000;
 text-align: center; /* Выравниваем текст по центру ячейки */
}
.td-menu {
  width: 33%;
}
A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   }
A:visited { text-decoration: none; }
A:active { text-decoration: none; }
